{% extends 'bases/base.html' %}

{% block title %}
    <title>Entrega 1 || Crear Items</title>
{% endblock title %}

{% block active-page %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" href={% url 'index' %}>Home</a></li>
    <li class="nav-item"><a class="nav-link" href={% url 'items' %}>Articulos</a></li>
    {% if request.user.is_authenticated %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url 'create-items' %}>Crear Articulo</a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link" href={% url 'about' %}>Nosotros</a></li>
    <li class="nav-item"><a class="nav-link" href={% url 'contact' %}>Contacto</a></li>
    {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link active text-decoration-underline" href={% url 'profile' %}>Hola {{request.user.username}}!</a></li>
        <li class="nav-item"><a class="nav-link" href={% url 'logout' %}>Cerrar Sesion</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link active" href={% url 'login' %}>Ingresar</a></li>
        <li class="nav-item"><a class="nav-link" href={% url 'register' %}>Registrarse</a></li> 
    {% endif %}
</ul>
{% endblock active-page %}

{% block content-block %}
<!-- Header-->
<header class="bg-dark py-3">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Articulos</h1>
            <p class="lead fw-normal text-white-50 mb-0">Crear articulos en la BD</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="bg-light py-6">
    <p></p>
    <div class="container">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <form action={% url 'create-items' %} method="POST" class='mb-3 row'>
                    {% csrf_token %}
                    {{ form_create }}
                    <p></p>
                    <button class="btn btn-secondary" type="submit">Crear</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content-block %}

