{% extends 'bases/base.html' %}


{% block title %}
    <title>Entrega 1 || Crear Items</title>
{% endblock title %}

{% block active-page %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" href={% url 'index' %}>Home</a></li>
    <li class="nav-item"><a class="nav-link" href={% url 'items' %}>Articulos</a></li>
    {% if request.user.is_authenticated %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url 'create-items' %}>Crear Articulo</a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link" href={% url 'about' %}>Nosotros</a></li>
    <li class="nav-item"><a class="nav-link" href={% url 'contact' %}>Contacto</a></li>
    {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link active text-decoration-underline" href={% url 'profile' %}>Hola {{request.user.username}}!</a></li>
        <li class="nav-item"><a class="nav-link" href={% url 'logout' %}>Cerrar Sesion</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link active" href={% url 'login' %}>Ingresar</a></li>
        <li class="nav-item"><a class="nav-link" href={% url 'register' %}>Registrarse</a></li> 
    {% endif %}
</ul>
{% endblock active-page %}

{% block content-block %}
<!-- Header-->
<header class="bg-dark py-3">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Articulos</h1>
            <p class="lead fw-normal text-white-50 mb-0">Crear articulos en la BD</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="bg-light py-6">
    <p></p>
    <div class="container">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                           <div class="col-lg-12">
                                <div class="p-5">
                                    <form action={% url 'create-items' %} method="POST" enctype="multipart/form-data" class="user mb-3 row">
                                        {% csrf_token %}
                                            {{ form.media }}
                                            <div class="form-group">
                                                <div class="mb-1">
                                                    <label for="tittle" class="form-control form-control-user border-0 mb-1">Titulo:</label>
                                                    <input type="text" class="form-control form-control-user" label="Titulo" name={{ form.tittle.name }} id="tittle" value="{{ form.title.value }}">
                                                    
                                                </div>
                                                <div class="mb-1">                        
                                                    <label for="content" class="form-control form-control-user border-0">Cuerpo noticia:</label>
                                                    {{ form.content.errors }}
                                                    <div class="flex justify-between form-control form-control-user">
                                                        <div name="body">
                                                            {{ form.body }}
                                                        </div>
                                                    </div>
                                                    {{ form.content.help_text }}
                                                </div>
                                                <div class="mb-1">
                                                    <label for="user" class="form-control form-control-user border-0">Creador</label>
                                                    <select name={{ form.owner_name.name }} id="user" class="form-control form-control-user">
                                                    <option value="{{ request.user.id }}">{{ request.user.username }}</option> </select>
                                                </div>
                                                <div class="mb-1">
                                                    <label for="imagen" class="form-control form-control-user border-0">Imagen:</label>
                                                    <input type="file" class="btn col-8" accept="image/png, .jpeg, .jpg" name={{ form.imagen.name }} required>
                                                </div>
                                                <p></p>
                                            </div>
                                            <button class="btn btn-primary btn-user btn-block" type="submit">Crear</button>
                                    </form>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock content-block %}

