{% extends 'bases/base.html' %}

{% block title %}
    <title>Entrega 1 || About</title>
{% endblock title %}

{% block active-page %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" href={% url 'index' %}>Home</a></li>
    <li class="nav-item"><a class="nav-link" href={% url 'items' %}>Articulos</a></li>
    {% if request.user.is_authenticated %}
    <li class="nav-item"><a class="nav-link" href={% url 'create-items' %}>Crear Articulo</a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url 'about' %}>Nosotros</a></li>
    <li class="nav-item"><a class="nav-link" href={% url 'contact' %}>Contacto</a></li>
    {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link active text-decoration-underline" href={% url 'profile' %}>Hola {{request.user.username}}!</a></li>
        <li class="nav-item"><a class="nav-link" href={% url 'logout' %}>Cerrar Sesion</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link active" href={% url 'login' %}>Ingresar</a></li>
        <li class="nav-item"><a class="nav-link" href={% url 'register' %}>Registrarse</a></li> 
    {% endif %}
</ul>
{% endblock active-page %}

{% block content-block %}
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="62" height="62">
                        <path fill-rule="evenodd" d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path>
                    </svg>
                </div>
                <h2 class="h4 fw-bolder">Nadine Pascual</h2>
                <p>Hola! Soy de Argentina, ciudad de Bs.As, tengo 30 años, actualmente viviendo en otro país. Soy Lic. en Terapia Ocupacional y Psicóloga.  Tengo dos bebes de 3 años Valentina y Lucas de 1 año. Me incursioné en el mundo de las tecnologías, y sin saber por donde empezar, empecé con Python, super entusiasmada y fue la mejor eleccion, tambien estoy en el desarrollo full stack cursando actualmente en Coder.  Aspiro a llevar la profesion a otro nivel, y brindar accesibilidad y tecnologias a las personas con discapacidad, area en la cual trabajo. Me interesa mucho el campo de la Inteligencia Articial, al cual aspiro ... y Python viene muy bien para ello, Gracias por leernos .... ! </p>
                <div id="popUpOverlay"></div>
                <a href={% url 'contact' %} class="btn btn-outline-secondary">¡Contactame!</a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="62" height="62">
                        <path fill-rule="evenodd" d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path>
                    </svg>
                </div>
                <h2 class="h4 fw-bolder">Natalia Lopez</h2>
                <p>Soy de Medellín, Colombia, tengo 33 años, me encantan los gatos, tengo una gata y su nombre es Kira. Hace unos meses me introduje en este mundo de la tecnología, comenzando con Testing Manual y quise ir más allá con este curso de Python para irme por Automatización y cambiar mi enfoque laboral el próximo año.</p>
                <div id="popUpOverlay"></div>
                <a href={% url 'contact' %} class="btn btn-outline-secondary">¡Contactame!</a>
            </div>
            <div class="col-lg-4">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="62" height="62">
                        <path fill-rule="evenodd" d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path>
                    </svg>
                </div>
                <h2 class="h4 fw-bolder">Moises Ramirez</h2>
                <p>Soy de Mérida, Venezuela, tengo 35 años, estudiante autodidacta, con ganas de aprender cada día algo nuevo. Comencé en el mundo de la tecnología hace 5 años incursionando en HTML y desarrollo web, hoy en día me centro en aprender todo lo posible de Python y por allí hacer carrera hacia el mundo de las IA e IoT.</p>
                <div id="popUpOverlay"></div>
                <a href={% url 'contact' %} class="btn btn-outline-secondary">¡Contactame!</a>
            </div>
        </div>
    </div>
</section>
{% endblock content-block %}